---
---

$dateWidth: 100px
$datePadding: 36px
$interPostPadding: 36px
$darkRed: #800000
$lineHeight: 1.4

html, body
  margin: 0
  text-align: center
  font-family: Equity-Text
  font-size: 24px
  background-color: #f8f8f8
  line-height: $lineHeight

$pageWidth: 680px

header, .body, footer
  margin: 0 auto

.body
  padding-bottom: 100px
  img
    max-width: $pageWidth

header
  margin-top: $interPostPadding

  img
    width: $dateWidth / 2
    margin-top: $interPostPadding / 2

  h1, p
    margin: 0 0 0 $datePadding + $interPostPadding
    line-height: 1.0

  h1
    // padding-top: 100px + $interPostPadding
    padding-top: $interPostPadding
    font-family: "Concourse-T3"
    font-size: 400%

  p
    color: #333
    padding-top: 2ex
    font-size: 115%

.siteDescription
  text-transform: lowercase

.siteAuthor
  font-size: 100%

.rss
  font-size: 100%
  a
    color: #800000

header, .body
  width: $pageWidth
  margin: 20px auto
  text-align: left

footer
  width: $pageWidth
  clear: both

h1
  font-size: 150%

a
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline

ol.posts
  list-style-type: none

  &> li
    padding: $interPostPadding $interPostPadding 0 $interPostPadding

    .tags
      border-bottom: 1px solid #ddd
      padding-bottom: $interPostPadding

    &:last-child
      .tags
        border-bottom: none


.title
  display: block
  font:
    family: "Concourse-T6"
    size: 200%

.description
  padding: 1ex 0
  font-size: 90%
  color: #777

.description, .title, .tags
  margin-left: $dateWidth + $datePadding

.tags
  list-style-type: none
  padding-top: 0.5ex
  font:
    family: "Concourse-C4"
    size: 50%
  text:
    transform: uppercase
  color: #777

  li
    display: inline-block
    padding-right: 1em
    &:last-child
      padding-right: 0

.categories
  list-style-type: none
  li
    &:before
      content: '/'

.dateline
  display: block
  text-align: right
  width: $dateWidth
  padding: 0 $datePadding 0 0
  float: left

  .day
    display: block
    color: $darkRed
    font:
      size: 200%
      family: "Concourse-T6"

  .month, .year
    color: #777

  .month
    display: block
    font-size: 75%

  .year
    display: block
    font-size: 75%

.post
  h1
    font-size: 200%
    font-family: "Concourse-T6"
    line-height: 1.0
    padding: 1em 0 0.25em 0
    small
      display: block
      clear: both
      font-size: 50%
      color: #777
  h2
    font-size: 150%
    font-family: "Concourse-T6"
    padding: 1em 0 0.25em 0
  h3
    padding: 1em 0 0.25em 0
  p
    padding: 0.5em 0
    // text-indent: 1em
    hyphens: auto
  p, li
    text-align: justify
  &> p
    &:last-child
      padding-bottom: 200px
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, hr + p
    text-indent: 0
  .signature
    color: #444
    font-size: 70%
    text-align: right
  ol, ul, dl
    margin-left: 3em
    p
      text-indent: 0
    li
      padding: 0.5em 0.5em 0.5em 0
      p
        padding-top: 0
        padding-bottom: 0
  a
    color: $darkRed
  a[href]
    &:after
      content: ' ➲'
  hr
    border: none
    text-align: center
    height: auto
    &:before
      content: '·  ·  ·'

// Code

pre
  margin-left: 24px
  margin-right: 24px
  font-size: 16px !important
  padding: 1em

blockquote
  font-size: 85%
  margin-left: 2em
  padding-left: 1rem
  padding-right: 1rem
  margin-top: 0.5rem
  margin-bottom: 0.5rem
  background: #fdfdfd
  p:first-child
    text-indent: 0

blockquote + blockquote
  margin-top: 1.5rem

// Footnotes

div.footnotes
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  margin-top: 1em
  ol
    margin: 0
    padding: 0.5em
    list-style: decimal inside none
    li
      font-size: 75%

sup
  position: relative
  top: -0.5em
  font-size: 80%

ins
  text-decoration: underline
  color: green
  background: none
del
  text-decoration: line-through
  color: red
  background: none

.hash
  font-size: 70%

table
  td, th
    padding: 0.5rem
  td:first-child, th:first-child
    padding-left: 0
  td:last-child, th:last-child
    padding-right: 0

mark
  font-weight: normal
  font-style: normal
