<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{ site.name }} {{ page.title }}</title>
    <link rel=stylesheet href=/reset.css type=text/css>
    <link rel=stylesheet href=/fonts.css type=text/css>
    <link rel=stylesheet href=/styles.css type=text/css>
    <link rel=stylesheet href=/pygments.css type=text/css>
    <link rel=alternate href=/feed.xml type=application/rss+xml>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    {% if page.is_post == true %}
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    {% else %}
    <meta name="twitter:title" content="{{site.name}}">
    <meta name="twitter:description" content="{{site.description}}">
    {% endif %}
    <meta name="twitter:image" content="https://writing.kemitchell.com/placeholder-on-white.png">
    <meta name="twitter:creator" content="@kemitchell">
  </head>
  <body>
    <header>
      <a href=/>
        <img src=/placeholder.png alt=placeholder>
      </a>
      <h1>{{ site.name | smartify}}</h1>
      <p class=siteDescription>&gt;&gt; {{ site.description | smartify}}</p>
      <p class=siteAuthor>
        All content by
        <a href="{{ site.homepage }}">{{ site.author | smartify}}</a>,
        who is not your attorney.
      </p>
    </header>
