<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% if page.title %}
    <title>{{ page.title }} &mdash; {{ site.name }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <link rel=stylesheet href=/reset.css type=text/css>
    <link rel=stylesheet href=https://fonts.kemitchell.com/equity-a.css type=text/css>
    <link rel=stylesheet href=https://fonts.kemitchell.com/concourse-3.css type=text/css>
    <link rel=stylesheet href=https://fonts.kemitchell.com/concourse-4-caps.css type=text/css>
    <link rel=stylesheet href=https://fonts.kemitchell.com/concourse-6.css type=text/css>
    <link rel=stylesheet href=https://fonts.kemitchell.com/triplicate-a.css type=text/css>
    <link rel=stylesheet href=https://fonts.kemitchell.com/noto-serif.css type=text/css>
    <link rel=stylesheet href=/styles.css type=text/css>
    <link rel=stylesheet href=/pygments.css type=text/css>
    <link rel=alternate href=/feed.xml type=application/rss+xml>
    <link rel=alternate href=/atom.xml type=application/atom+xml>
    <link rel=icon href=https://kemitchell.com/favicon.ico sizes=any>
    <!-- Twitter Card -->
    <meta name=twitter:card content=summary>
    {% if page.title %}
    <meta name=twitter:title content="{{page.title | smartify}}">
    {% else %}
    <meta name=twitter:title content="{{site.name | smartify}}">
    {% endif %}
    {% if page.description %}
    <meta name=twitter:description content="{{page.description | smartify}}">
    {% else %}
    <meta name=twitter:description content="{{site.description | smartify}}">
    {% endif %}
    <meta name=twitter:image content=https://writing.kemitchell.com/placeholder-on-white.png>
    <meta name=twitter:creator content=@kemitchell>
    <!-- OpenGraph -->
    <meta name=og:type content=website>
    {% if page.title %}
    <meta name=og:title content="{{page.title | smartify}}">
    {% else %}
    <meta name=og:title content="{{site.name | smartify}}">
    {% endif %}
    {% if page.description %}
    <meta name=og:description content="{{page.description | smartify}}">
    {% else %}
    <meta name=og:description content="{{site.description | smartify}}">
    {% endif %}
    <meta name=og:image content=https://writing.kemitchell.com/placeholder-on-white.png>
  </head>
  <body>
    <header>
      <a href=/>
        <img src=/placeholder.png alt=placeholder>
      </a>
      <h1>{{ site.name | smartify}}</h1>
      <p class=siteDescription>&gt;&gt; {{ site.description | smartify}}</p>
      <p class=siteAuthor>
        All content by
        <a href="{{ site.homepage }}">{{ site.author | smartify}}</a>,
        who is <a href=https://notlegaladvice.law>not your lawyer</a>.
      </p>
      <p class=subscribe>
        You can subscribe via
        <a href="{{site.url}}/feed.xml">RSS/Atom</a> or
        <a href="{{site.subscribe_url}}">e-mail</a>
        and
        <a href="{{site.url}}/lists/Blogroll">browse other blogs</a>.
      </p>
    </header>
