{% include top.html %}
<main class="body post {% if page.doublewide %}doublewide{% endif %} {% if page.multilingual %}multilingual{% endif %}">
  {% if page.date %}
  <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
    <span class=month>{{ page.date | date: "%B" }}</span>
    <span class=day>{{ page.date | date: "%e" }}</span>,
    <span class=year>{{ page.date | date: "%Y" }}</span>
  </time>
  {% endif %}
  <h1 id=title>{{ page.title | smartify}}<small>{{ page.description | smartify }}</small></h1>
  {% if page.brief %}
  <aside class="brief" markdown="1">
    {{ page.brief | markdownify }}
  </aside>
  {% endif %}
  {% if page.retrospect %}
  <aside class="retrospect" markdown="1">
    {{ page.retrospect | markdownify }}
  </aside>
  {% endif %}
  {% if page.series %}
  <p class=series>
    This post is part of a series, <a href="/series/{{ page.series | slugify }}">{{page.series}}</a>.
  </p>
  {% endif %}

  {{ content }}

  {% if series %}
  <p class=signature>
    More in this series: <a href="/series/{{ page.series | slugify }}">{{page.series}}</a>
  </p>
  {% endif %}
  {% if tags %}
  <p class=signature>more posts about:
  {% for tag in page.tags %}
  <a href="/tags/{{tag | slugify}}">{{ tag | smartify }}</a>
  {% endfor %}
  </p>
  {% endif %}
  <p class=signature>
      Your thoughts and feedback are
      <a href=mailto:kyle@kemitchell.com>always welcome by e-mail</a>.
  </p>
  <p class=signature>
    <a href=#title>back to top</a>
    &mdash;
    <a href="{{ site.repository_url }}/blob/main/{{ page.path }}">edit on GitHub</a>
    &mdash;
    <a href="{{ site.repository_url }}/commits/main/{{ page.path }}">revision history</a>
  </p>
</main>
{% for js in page.js %}
  <script type=text/javascript>
    {% include {{ js }} %}
  </script>
{% endfor %}
{% include bottom.html %}
